.memeImage {
  max-width: 300px;
  flex: 1;
}

.memeImage img {
  max-width: 100%;
  max-height: 300px;
}

.memeImage.bigImg{
  max-width: 65%;
}

.memeImage.bigImg img{
  max-height: none;
}


.memeContainer {
  display: flex;
  margin-top: 5px;
}

.toggleBuy.active {
  font-weight: bold;
}

.memeMeta {
  margin-left: 20px;
}

.memeHeading {
  margin-bottom: 10px;
}
.subject {
  color: #0F0C5D;
  font-weight: bold;
}
.name {
  color: #117743;
  font-weight: bold;
}
.subject:after,
.name:after {
  content: ' ';
}
.pagination {
  display: inline-block;
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 1020px) {

  .memeContainer {
   flex-direction: column;
  }
}

