.memeImage {
  max-width: 300px;
  flex: 1;
}

.memeImage img {
  max-width: 100%;
  max-height: 300px;
}

.memeImage.bigImg{
  max-width: 65%;
}

.memeImage.bigImg img{
  max-height: none;
}


.memeContainer {
  display: flex;
  margin-top: 5px;
}

.toggleBuy.active {
  font-weight: bold;
}

.memeMeta {
  margin-left: 20px;
}

.memeHeading {
  margin-bottom: 10px;
}
.subject {
  color: #0F0C5D;
  font-weight: bold;
}
.name {
  color: #117743;
  font-weight: bold;
}
.subject:after,
.name:after {
  content: ' ';
}
.pagination {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.catalog .meme {
  vertical-align: top;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  width: 150px;
  height: 230px;
  padding: 5px 0 3px 0;
  text-align: center;
  margin: 20px;
}
.catalog .meme img {
  margin: auto;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
  min-height: 50px;
  min-width: 50px;
  max-height: 150px;
  max-width: 150px;
}

@media only screen and (max-width: 700px) {
  .memeContainer {
   flex-direction: column;
   display: block;
  }
}
