.tradeContainer {
  min-width: 400px;
  margin: 20px 0;
}
.row {
  display: flex;
  flex-direction: row;
}

.toggleBuy > div {
  background-color: #ea8;
  color: #800;
  font-weight: 700;
  border: 1px solid #800;
  padding: 5px 0;
  width: 100px;
  margin-right: 20px;
  z-index: 0;
  position: relative;
  top: 1px;
  text-align: center;
  cursor: pointer;
}

.toggleBuy > div.active {
  background: white;
  color: #800;
  font-weight: 700;
  border: 1px solid #800;
  border-bottom: 1px solid white;
  z-index: 1;
}

.inactive .toggleBuy div {
  background: white;
  color: #800;
  font-weight: 700;
  border: 1px solid #800;
  z-index: 1;
}
.desktop .inactive .toggleBuy div:hover {
  background-color: #ea8;
}

.tradeSection {
  background: white;
  border: 1px solid maroon;
  padding: 20px;
}
.modal .tradeSection {
  display: inline-block;
  border: 0;
}

.tradeSection > div {
  margin-bottom: 5px;
}
.tradeSection span {
  display: inline-block;
  min-width: 100px;
}

.tradeSection label {
  font-weight: bold;
  display: inline-block;
  width: 100px;
}

.bondedToken-available {
  font-size: smaller;
}