.appLoader {
  margin: 20px;
  text-align: center;
  width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: maroon;
  font-family: arial,helvetica,sans-serif;
  background: linear-gradient(#FED7B0, #FFFFEE 20%);
  /*background: linear-gradient(#D1D5EE, #EEF2FF 20%);*/
  background-attachment: fixed;
  font-size: 10pt;
}

.container {
  padding: 10px 20px;
}

.header {
  text-align: center;
  margin: 20px;
}
.logo {
  color: maroon;
  text-decoration: none;
}
.logo:hover {
  text-decoration: underline;
}

table.status {
  margin: 0 auto;
}
.status td {
  text-align: left;
}

h2 {
    font-size: 131%;
    font-weight: bold;
}

h1 {
  font-family: Tahoma,sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-top: 0;
}

hr {
  border: 0;
  border-top: 1px solid #d9bfb7;
  height: 0;
}
hr.abovePostForm {
    width: 90%;
}

.newForm {
  width: 320px;
  margin: auto;
  margin-bottom: 20px;
}
.newForm h2 {
  text-align: center;
}
.newForm > div {
  display: flex;
}
.hidden {
  opacity: 0;
}

label {
  background-color: #ea8;
  color: #800;
  font-weight: 700;
  border: 1px solid #800;
  padding: 0 5px;
  font-size: 10pt;
  /*flex: 1;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  min-height: 20px;
  margin: 1px;
}

input[type=text],
input[type=file] {
  margin: 1px;
  flex: 1;
  width: 100%;
}

.uploadPreview {
  margin: 20px auto;
  width: 600px;
  max-width: 90%;
  text-align: center;
}

.uploadPreview img {
  max-width: 100%;
}

input[type=text], input[type=password], table.postForm>tbody textarea, #recaptcha_response_field {
    margin-right: 2px;
    padding: 2px 4px 3px;
    border: 1px solid #aaa;
    outline: 0;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    width: auto;
}

.error {
  max-width: 50%;
  margin: auto;
  padding: 100px;
  font-size: 40px;
  border: 3px solid red;
}

