* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: maroon;
  font-family: arial,helvetica,sans-serif;
  background: linear-gradient(#FED7B0, #FFFFEE 20%);
  /*background: linear-gradient(#D1D5EE, #EEF2FF 20%);*/
  background-color: #FFFFEE;
  background-attachment: fixed;
  font-size: 10pt;
}
.container {
  padding: 10px 20px;
}
.container > div {
  min-height: calc(100vh - 320px);
}
header, footer {
  text-align: center;
  margin: 20px;
}
footer small {
  font-size: 10px;
}
.nav {
  text-align: center;
}
a.logo,
a.logo:link,
a.logo:visited {
  color: maroon;
  text-decoration: none;
}
a.logo:hover {
  text-decoration: underline;
}
a, a:link, a:visited {
  color: #a00;
  cursor: pointer;
}
a.active {
  font-weight: bold;
}

h1 {
  font-family: Tahoma,sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-top: 0;
}
h2 {
  font-size: 131%;
  font-weight: bold;
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid #d9bfb7;
  height: 0;
}
hr.abovePostForm {
  width: 90%;
}
.hidden {
  opacity: 0;
}

/* flex box */

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

/* form elements */

button {
  padding: 3px 10px;
  font-size: 12px;
  cursor: pointer;
}
input[type=text],
input[type=file] {
  margin: 1px;
  flex: 1;
  width: 100%;
}
input[type=text], input[type=password], table.postForm>tbody textarea, #recaptcha_response_field {
  margin-right: 2px;
  padding: 2px 4px 3px;
  border: 1px solid #aaa;
  outline: 0;
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
  width: auto;
}
input[type=text]:focus {
  border: 1px solid maroon;
}

/* preload */

.loadingMessage {
  text-align: center;
  padding: 20px;
}

/* modal form */

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.1);
  cursor: pointer;
  z-index: 2;
  transition: 0.2s all;
  opacity: 0;
  pointer-events: none;
}
.modal.visible {
  opacity: 1;
  pointer-events: auto;
}
.modal .inner {
  border: 1px solid maroon;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  cursor: default;
  background: white;
  text-align: center;
}
.modal .heading {
  padding: 3px;
  background: maroon;
  color: white;
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.modal .close {
  position: absolute;
  top: 0; right: 0;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal .content {
  padding: 20px;
}
.modal.loader {
  background: transparent;
}
.modal.loader .inner {
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
  width: 300px;
  transform: translateZ(0);
}
.modal.loader .content {
  padding: 10px;
}

/* errors */

.error {
  width: 100%;
  text-align: center;
  padding: 10px;
  justify-content: center;
}
.appLoader {
  margin: 20px 0;
  text-align: center;
  width: 100%;
}
.appLoaderError {
  text-align: center;
  width: 65%;
  padding: 30px;
  justify-content: center;
  margin: auto;
  border: 3px solid red;
  font-size: 40px;
}
.warning {
  background: red;
  color: white;
  font-size: 20px;
}
.warning a, .warning a:visited, .warning a:link {
  color: white;
}

/* pagination */

.pagelist {
  display: inline-block;
  font-size: 13px;
  margin: 0;
  padding: 3px 7px;
  border: none;
  background: #f0e0d6;
  border-right: 1px solid #d9bfb7;
  border-bottom: 1px solid #d9bfb7;
  list-style: none;
  overflow: hidden;
  color: #b86;
  cursor: pointer;
}
.pagelist * {
  display: inline-block;
}
.pagelist .pages {
  padding: 4px;
}
.pagelist .pages span {
  padding-right: 4px;
}
.pagelist a {
  color: #00e;
}
.pagelist .cataloglink {
  border-left: 1px solid #d9bfb7;
  padding-left: 12px;
  margin-left: 7px;
}
.pagelist .btn {
  margin-right: 3px;
}

/* misc */

table.status {
  margin: 0 auto;
}
.status td {
  text-align: left;
}

/* block history */

.blockHistory .pagelist {
  padding: 4px;
  margin-top: 10px;
}
.blockHistory .row > * {
  display: inline-block;
  margin-right: 4px;
}
.hash {
  display: inline-block;
  color: #888;
  cursor: pointer;
  width: 40px;
}
.hash.open {
  width: auto;
}
.gray {
  color: #888;
}

/* mobile */

@media only screen and (max-width: 1020px) {
  .container {
    padding: 10px 10px;
  }

  .appLoaderError {
    width: 100%;
  }
}
